 /*li:hover{
    color: plum;*/
}
body{
    background-color: purple;
}
a:visited
{
    color: rgb(38, 46, 148);
}
a:active{
    color: saddlebrown;
}
a:focus{
    color: slateblue;
}
 li:nth-child(3)
{
    color: tomato;
}
li:nth-child(even)
{
    color:blue;
}
